<appSettings>
	<add key="MailSever" value="dev-smtp.vidly.com"/>
	<add key="FacebookAppId" value="1610689566306246"/>
	<add key="FacebookAppSecret" value="8f9bfe7db88a557a09b45c070ca8e8ae"/>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>